python/hello.py
OOC/Codes/BOOK.txt
OOC/Codes/COPY_BOOK.txt
OOC/Codes/ooc.cpp
OOC/Codes/ooc.exe
OOC/Codes/ooc1.cpp
OOC/Codes/ooc1.exe
OOC/Codes/ooc2.cpp
OOC/Codes/ooc2.exe
OOC/Codes/ooc3.cpp
OOC/Codes/ooc3.exe
OOC/Codes/ooc4.cpp
OOC/Codes/ooc4.exe
OOC/Codes/ooc6.cpp
OOC/Codes/ooc6.exe
OOC/Codes/ooc7.cpp
OOC/Codes/ooc7.exe
OOC/Codes/ooc8.cpp
OOC/Codes/ooc8.exe
OOC/Codes/ooc9.cpp
OOC/Codes/ooc9.exe
OOC/Examination-System-cpp-master/Examination-System-cpp-master/gmon.out
OOC/Examination-System-cpp-master/Examination-System-cpp-master/LICENSE
OOC/Examination-System-cpp-master/Examination-System-cpp-master/main.cpp
OOC/Examination-System-cpp-master/Examination-System-cpp-master/main.exe
OOC/Examination-System-cpp-master/Examination-System-cpp-master/project.code-workspace
OOC/Examination-System-cpp-master/Examination-System-cpp-master/README.md
OOC/Examination-System-cpp-master/Examination-System-cpp-master/result.txt
OOC/Examination-System-cpp-master/Examination-System-cpp-master/test.txt
OOC/Examination-System-cpp-master/Examination-System-cpp-master/Ans/pf.txt
OOC/Examination-System-cpp-master/Examination-System-cpp-master/bin/date_sheet.txt
OOC/Examination-System-cpp-master/Examination-System-cpp-master/bin/student.txt
OOC/Examination-System-cpp-master/Examination-System-cpp-master/bin/teacher.txt
OOC/Examination-System-cpp-master/Examination-System-cpp-master/include/constant.h
OOC/Examination-System-cpp-master/Examination-System-cpp-master/paper/code.cpp
OOC/Examination-System-cpp-master/Examination-System-cpp-master/paper/code.exe
OOC/Examination-System-cpp-master/Examination-System-cpp-master/paper/pf.txt
OOC/Miniproject/main.cpp
HTML/Mini-project/affected_area.html
HTML/Mini-project/cleaning_project.html
HTML/Mini-project/disaster_history.html
HTML/Mini-project/disaster.html
HTML/Mini-project/index.html
HTML/Mini-project/river_development_project.html
HTML/Mini-project/script.js
HTML/Mini-project/styles.css
HTML/Mini-project/tourism_project.html
HTML/Mini-project/Mini-project/affected_area.html
HTML/Mini-project/Mini-project/cleaning_project.html
HTML/Mini-project/Mini-project/disaster_history.html
HTML/Mini-project/Mini-project/disaster.html
HTML/Mini-project/Mini-project/index.html
HTML/Mini-project/Mini-project/river_development_project.html
HTML/Mini-project/Mini-project/script.js
HTML/Mini-project/Mini-project/styles.css
HTML/Mini-project/Mini-project/tourism_project.html
HTML/Mini_project/admin/add_cleaning_project.php
HTML/Mini_project/admin/add_disaster_history.php
HTML/Mini_project/admin/add_disaster.php
HTML/Mini_project/admin/add_river_project.php
HTML/Mini_project/admin/add_tourism_project.php
HTML/Mini_project/admin/delete_cleaning_project.php
HTML/Mini_project/admin/delete_disaster_history.php
HTML/Mini_project/admin/delete_disaster.php
HTML/Mini_project/admin/delete_river_project.php
HTML/Mini_project/admin/delete_tourism_project.php
HTML/Mini_project/admin/edit_cleaning_project.php
HTML/Mini_project/admin/edit_disaster_history.php
HTML/Mini_project/admin/edit_disaster.php
HTML/Mini_project/admin/edit_river_project.php
HTML/Mini_project/admin/edit_tourism_project.php
HTML/Mini_project/admin/index.php
HTML/Mini_project/admin/manage_cleaning_projects.php
HTML/Mini_project/admin/manage_disaster_history.php
HTML/Mini_project/admin/manage_disasters.php
HTML/Mini_project/admin/manage_river_projects.php
HTML/Mini_project/admin/manage_tourism_projects.php
HTML/Mini_project/includes/db_connect.php
HTML/Mini_project/includes/footer.php
HTML/Mini_project/includes/header.php
HTML/Mini_project/includes/nav.php
HTML/Mini_project/pages/affected_area.php
HTML/Mini_project/pages/cleaning_projects.php
HTML/Mini_project/pages/disaster_history.php
HTML/Mini_project/pages/disaster_statistics.php
HTML/Mini_project/pages/disaster.php
HTML/Mini_project/pages/index.php
HTML/Mini_project/pages/map.php
HTML/Mini_project/pages/river_projects.php
HTML/Mini_project/pages/search.php
HTML/Mini_project/pages/tourism_projects.php
HTML/Mini_project/pages/weather_stations.php
HTML/Mini_project/static/css/styles.css
HTML/Mini_project/static/js/chart.js
HTML/Mini_project/static/js/scripts.js
HTML/PBL/1.html
HTML/PBL/calculator.html
HTML/PBL/excercise.html
HTML/PBL/exercise31.html
HTML/PBL/exercise32.html
HTML/PBL/Faqs.html
HTML/PBL/map.html
HTML/PBL/multistepform.html
HTML/PBL/N_H.html
HTML/PBL/pobl5.html
HTML/PBL/prob1.html
HTML/PBL/prob2.html
HTML/PBL/prob3.html
HTML/PBL/Quiz.html
HTML/PBL/tablefom.html
HTML/PBL/tabprb1.html
HTML/PBL/tabprb2.html
HTML/PBL/tabprb3.html
HTML/PBL/tabprb4.html
HTML/PBL/tabprb5.html
HTML/PBL/trial_1.html
HTML/PBL/trial.html
HTML/PBL/trial1.html
HTML/PBL/try.html
DS/a.exe
DS/ds1.c
DS/ds1.exe
DS/ds2.c
DS/ds2.exe
DS/ds3.c
DS/ds3.exe
DS/ds4.c
DS/ds4.exe
DS/ds5.c
DS/ds5.exe
DS/ds6_1.c
DS/ds6_1.exe
DS/ds6.c
DS/ds6.exe
DS/ds7.c
DS/ds7.exe
DS/ds8.c
DS/ds8.exe
Dataquest/Cleaned_Train_Data.csv
Dataquest/final_submission_full.csv
Dataquest/final_submission.csv
Dataquest/model_training_and_submission.py
Dataquest/Sample_Submission.csv
Dataquest/sepsis.py
Dataquest/Test_Data.csv
Dataquest/Train_Data.csv
Dataquest/train.py
DAA(PBL)/Assi1.cpp
DAA(PBL)/Assi1.exe
DAA(PBL)/Assi2.cpp
DAA(PBL)/Assi2.exe
DAA(PBL)/Assi3.cpp
DAA(PBL)/Assi3.exe
DAA(PBL)/Assi4_1.cpp
DAA(PBL)/Assi4_1.exe
DAA(PBL)/Assi4.exe
DAA(PBL)/Assi6.cpp
DAA(PBL)/Assi6.exe
DAA(PBL)/Assi7.cpp
DAA(PBL)/Assi7.exe
DAA(PBL)/Assi8.cpp
DAA(PBL)/Assi8.exe
AirlineReservationSystem/dao.py
AirlineReservationSystem/database_config.py
AirlineReservationSystem/gui.py
AirlineReservationSystem/models.py
AirlineReservationSystem/__pycache__/dao.cpython-313.pyc
AirlineReservationSystem/__pycache__/database_config.cpython-313.pyc
AirlineReservationSystem/__pycache__/models.cpython-313.pyc
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.python-version
requirements.txt
